html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#simulator-canvas {
    marigin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.status-panel {
    z-index: 3;
}