[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/cityflow-project/rapidjson.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/cityflow-project/pybind11.git
